#header {
  background: #999; }
  #header .headerName {
    color: #FFF;
    font-size: 28px;
    font-weight: bold;
    padding: 20px;
    display: inline-block;
    width: 100%;
    height: 50px; }
    #header .headerName .logo {
      background: url("/images/logo.png");
      width: 50px;
      height: 50px;
      display: inline-block;
      background-size: contain; }
    #header .headerName .name {
      display: inline-block;
      vertical-align: 50%; }
    #header .headerName a {
      text-decoration: none; }
    #header .headerName a:link {
      color: white; }
    #header .headerName a:visited {
      color: white; }
    #header .headerName a:hover {
      color: white; }
  #header .menuPanel {
    display: inline-block;
    width: calc(100% - 460px);
    text-align: right; }
    #header .menuPanel .link {
      color: #666;
      display: inline-block;
      padding: 0px 20px;
      font-size: 15px; }
      #header .menuPanel .link a {
        text-decoration: none; }
      #header .menuPanel .link a:link {
        color: white; }
      #header .menuPanel .link a:visited {
        color: white; }
      #header .menuPanel .link a:hover {
        color: lightgray; }
    #header .menuPanel .link:last-child {
      padding-right: 0px; }
